@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.Input-Focused {
  outline: #06b6d4 2px solid;
}

.Input-Desfocused {
  outline: #67e8f9 1px solid;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes aparecerFondoModal {
  0% {
    background: transparent !important;
  }

  100% {
    background: var(--bg-fondo-modal);
  }
}

@keyframes aparecerCardDelModal {

  0% {
    top: initial;
  }

  100% {
    top: 0;
  }
}